.settings-page {
  background: transparent;
  border-radius: 50%;
  width: 0;
  height: 0;
  position: absolute;
  top: 32px;
  right: 32px;
  transition: all 0.5s;
  z-index: 3;

  &.open {
    background: #f7f8fa;
    border-radius: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }
}

.settings-page.open .settings-wrapper {
  display: block;
  padding: 32px;
}

.settings-wrapper {
  user-select: none;
  display: none;
}

h1 {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -1.1px;
}

h2 {
  margin-top: 0;
  margin-bottom: 14px;
}

.list-devices {
  display: flex;
  flex-direction: column;
}

.device {
  font-size: 16px;
  margin-bottom: 12px;
  padding: 12px 8px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  summary {
    display: flex;
    align-items: center;
    height: 40px;
    position: relative;

    &::-webkit-details-marker {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &:before {
      content: "";
      position: absolute;
      top: 16px;
      right: 12px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid rgb(165, 165, 165);
      cursor: pointer;
    }

    .icon {
      height: 32px;
      width: auto;
      margin-right: 12px;
    }

    .device-info {
      display: flex;
      flex-direction: column;
    }

    .title {
      font-weight: bold;
      font-size: 16px;
      display: inline-flex;
      align-items: center;
    }

    .model {
      font-size: 12px;
    }

    &:hover .remove-icon {
      display: initial;
    }

    .remove-icon {
      height: 16px;
      cursor: pointer;
      fill: #ccc;
      display: none;
      margin-left: 8px;

      &:hover {
        cursor: pointer;
        fill: red;
      }
    }
  }

  &[open] summary:before {
    transform: rotate(180deg);
  }

  &.not-open {
    summary:before {
      display: none;
    }
  }

  .content {
    padding-left: 40px;
    margin: 14px 0;

    .checkbox {
      display: inline-flex;
      align-items: center;

      & + .checkbox {
        margin-top: 8px;
      }

      input {
        margin-right: 8px;
      }

      label {
        font-size: 14px;
      }
    }
  }
}

hr {
  border-top: 1px solid #cacaca;
  margin: 14px 0;
}

button {
  background-color: #fff;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid rgba(204, 204, 204, 0.534);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}
