:host {
  padding: 32px;
  background: #0e101f;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

.settings-icon {
  cursor: pointer;
  z-index: 5;
  transition: transform .5s;
  
  &.open {
    transform: rotate(90deg);
  }
}
