
.presets {
  width: 100%;
  display: inline-flex;
  margin-top: 20px;
}

.preset {
  border: 2px solid #fff;
  border-radius: 4px;
  height: 28px;
  width: 28px;
  margin-right: 12px;
  cursor: pointer;
}

.presets .preset:nth-child(7) {
  margin-right: 0;
}

.add {
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
  background-position: center;
  background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
  margin-right: 0;
}
