@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 32px;
  background: #0e101f;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

.settings-icon {
  cursor: pointer;
  z-index: 5;
  transition: transform .5s;
  
  &.open {
    transform: rotate(90deg);
  }
}
